
html
  
  title PLEBISCITE 2017
  link(href='/assets/mainPageStyle.css', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')


  

  body
    .bgimg.w3-display-container.w3-animate-opacity.w3-text-white
      .w3-display-middle
        h1 same-sex marriage plebiscite
        hr.w3-border-grey(style='margin:auto;width:100%')
        p discover the opinions of people around Australia
        
          form#getStarted(method='POST', action='/homePage')
            .buttons
              button.btn.blue(class='.btn') GET STARTED

            
 
      .w3-display-bottomleft.w3-padding-large
        | by 
        a(href='https://giphy.com/gifs/milkshakes-dat-boi-vc5L6VoTB6tnW/fullscreen', target='_blank') Alexander Santander
